<h5>Empleados (Lista 360)</h5>
    <%= link to: empleado_path(@conn, :new), class: "btn btn-primary" do %>
        <i>Agregar</i>
    <% end %>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Sexo</th>
            <th scope="col">Profesión</th>
            <th scope="col">Sueldo</th>
            <th scope="col" class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <%= for empleado <- @empleados do %>
                <tr>
                    <td><%= empleado.nombre %></td>
                    <td><%= empleado.edad %></td>
                    <td><%= empleado.sexo %></td>
                    <td><%= empleado.profesion %></td>
                    <td>$<%= empleado.sueldo %></td>
                    <td class="text-center"><%= link "Editar", to: empleado_path(@conn, :edit, empleado), class: "btn btn-primary" %>
                    <%= link "Eliminar", to: empleado_path(@conn, :delete, empleado), class: "btn btn-primary" , method: :delete%></td>
                </tr>
            <% end %>
        </tbody>
    </table>

<div class="fixed-action-btn">

    <%= link to: empleado_path(@conn, :nombres), class: "btn btn-primary" do %>
        <i>Nombres</i>
    <% end %>
    <%= link to: empleado_path(@conn, :edades), class: "btn btn-primary" do %>
        <i>Edades</i>
    <% end %>
    <%= link to: empleado_path(@conn, :sexos), class: "btn btn-primary" do %>
        <i>Sexos</i>
    <% end %>
    <%= link to: empleado_path(@conn, :profesiones), class: "btn btn-primary" do %>
        <i>Profesiones</i>
    <% end %>
    <%= link to: empleado_path(@conn, :sueldos), class: "btn btn-primary" do %>
        <i>Sueldos</i>
    <% end %>
    <%= link to: empleado_path(@conn, :presupuestos), class: "btn btn-primary" do %>
        <i>Presupuesto</i>
    <% end %>

</div>
