<%= form_for @changeset, empleado_path(@conn, :create), fn f -> %>
    <div class="form-group">

        Nombre: <%=text_input f, :nombre, placeholder: "Nombre", class: "form-control" %>
        <%= error_tag f, :nombre %>

        Edad: <%=number_input f, :edad, placeholder: "Edad", class: "form-control" %>
        <%= error_tag f, :edad %>

        Sexo: <%=text_input f, :sexo, placeholder: "Sexo (M, F)", class: "form-control" %>
        <%= error_tag f, :sexo %>

        Profesión: <%=text_input f, :profesion, placeholder: "Profesión", class: "form-control" %>
        <%= error_tag f, :profesion %>

        Sueldo: <%=text_input f, :sueldo, placeholder: "Sueldo", class: "form-control" %>
        <%= error_tag f, :sueldo %>

    </div>
    <%= submit "Guardar", class: "btn btn-primary" %>
    <%= link to: empleado_path(@conn, :index), class: "btn btn-primary" do %>
        <i>Cancelar</i>
    <% end %>
<% end %>
