<h5>Presupuesto</h5>

<ul class = "collection">
    <%= for pre <- @presupuesto do %>
        <li class="collection-item">
            $<%= pre.pre %>
        </li>
    <% end %>
</ul>
<div class="fixed-action-btn">

    <%= link to: empleado_path(@conn, :index), class: "btn btn-primary" do %>
        <i>Menú</i>
    <% end %>
</div>
