<h5>Profesiones</h5>

<ul class = "collection">
    <%= for p <- @profesiones do %>
        <li class="collection-item">
            <%= p.prof %>: <%= p.num %>
        </li>
    <% end %>


</ul>
<div class="fixed-action-btn">

    <%= link to: empleado_path(@conn, :index), class: "btn btn-primary" do %>
        <i>Menú</i>
    <% end %>
</div>
