<h5>Sexos</h5>

<ul class = "collection">
        <li class="collection-item">
          Hombres: <%= @hombres %>
        </li>
        <li class="collection-item">
          Mujeres: <%= @mujeres %>
        </li>


</ul>
<div class="fixed-action-btn">

    <%= link to: empleado_path(@conn, :index), class: "btn btn-primary" do %>
        <i>Menú</i>
    <% end %>
</div>
