<h5>Sueldos</h5>

<ul class = "collection">
    <%= for empleado <- @empleados do %>
        <li class="collection-item">
            $<%= empleado.sueldo %>
        </li>
    <% end %>
</ul>
<div class="fixed-action-btn">

    <%= link to: empleado_path(@conn, :index), class: "btn btn-primary" do %>
        <i>Menú</i>
    <% end %>
</div>
